* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Open Sans;
}
.blank-image1 {
	width: 716px;
	height: 626px;
	background-color: #d7d7d7;
}
.blank-image2 {
	width: 625px;
	height: 726px;
	background-color: #d7d7d7;
}
.blank-image3 {
	width: 317px;
	height: 376px;
	background-color: #d7d7d7;
}
.blank-image4 {
	width: 650px;
	height: 454px;
	background-color: #d7d7d7;
}
.main-container {
	max-width: 1368px;
	margin: 0 auto;
}
.main-button a {
	display: inline-block;
	background-color: #212121;
	color: white;
	padding: 10px 25px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border-radius: 0px;
	transition: all 0.1s;
}
.main-button a:hover {
	background-color: white;
	color: #212121;
}

.highlighted-text {
	color: aqua;
}
/* Header Start  */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}
.navbar .main-logo a {
	font-size: 36px;
	color: #212121;
	font-weight: 700;
}

.navbar .menu li {
	display: inline-block;
}
.navbar .menu li a {
	color: #212121;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 15px;
	font-weight: 500;
}

/* Home Section Start */

.home-section .home-main-section .home-contents {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 108px 0;
}

.content-div h5 {
	color: #646464;
	padding-bottom: 19px;
}
.content-div h1 {
	font-size: 70px;
	line-height: 78px;
	color: #212121;
	padding-bottom: 19px;
}
.content-div p {
	font-size: 18px;
	line-height: 30px;
	color: #646464;
	padding-bottom: 50px;
}

/* ABout US */
.home-section .home-main-section .home-contents .content-div h2 {
	font-size: 48px;
	line-height: 57px;
	font-weight: 500;
}
.home-section .home-main-section .home-contents .content-div p {
	padding-bottom: 55px;
	padding-top: 22px;
}

/* Service Section  */

.service-section {
	max-width: 1920px !important;
	background-color: #f8f8f8;
	padding: 90px 0px;
}
.service-content {
	text-align: center;
}
.service-content h2 {
	font-size: 48px;
}
.service-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 40px;
}
.single-services {
	width: 350px;
	height: 200px;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
	padding: 50px 20px;
	box-shadow: 10px 10px 40px gray;
}
.single-services h3 {
	padding-bottom: 10px;
	font-size: 24px;
}
.service-content h4 {
	font-size: 12px;
	color: #646464;
	padding-bottom: 19px;
	text-transform: uppercase;
}

/* Years Success */

.years-success-section {
	padding: 100px 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.years-success-section .success-div-wrapper h2 {
	font-size: 50px;
	line-height: 65px;
}
.years-success-section .success-div-wrapper p {
	margin-right: 100px;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	letter-spacing: 0.04em;

	color: #646464;
	margin-bottom: 50px;
}

.years-success-section .success-div-wrapper .image-wrapper-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blank-image3 {
	margin: 30px 15px;
}

/* total Completed Works Section */

.total-completed-work {
	padding: 90px 0;
	background-color: #f8f8f8;
}
.total-completed-work-contents {
	text-align: center;
	padding-bottom: 85px;
}
.total-completed-work-contents h2 {
	text-align: center;
	font-size: 48px;
}
.total-work-section {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.total-single-works {
	display: inline-block;
	width: 185px;
	height: 182px;
	background: #ffffff;
	box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
	border-radius: 40px 0px;
	padding-top: 55px;
	/* padding-left: 50px; */
}
.total-single-works h2 {
	font-size: 48px;
	line-height: 60px;
	text-align: center;
	color: #212121;
}
.total-single-works p {
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	color: #212121;
}

/* Testimonial Section Start */

.testimonial-section {
	padding: 100px 0;
}
.testimonial-contents {
	text-align: center;
	padding-bottom: 70px;
}
.testimonial-contents h2 {
	font-size: 48px;
}
.what-clients-say {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.singles-client-what-says {
	width: 571px;
	height: 226px;
	background: #ffffff;
	box-shadow: 7px 7px 30px 5px rgba(33, 33, 33, 0.1);
	border-radius: 0px;
	text-align: center;
	padding-top: 50px;
}
.singles-client-what-says h3 {
	font-size: 24px;
	line-height: 33px;
	color: #212121;
}
.singles-client-what-says h5 {
	font-size: 12px;
	line-height: 22px;

	color: #646464;
}
.singles-client-what-says p {
	font-size: 15px;
	line-height: 28px;
	color: #646464;
	margin: 10px 70px;
}

/* Latest Blog Section  */
.latest-blog-section {
	padding: 93px 0px;
	background: #f8f8f8;
}
.latest-blogs-contents {
	text-align: center;
}
.latest-blogs-contents h5 {
	font-size: 12px;
	line-height: 22px;

	color: #646464;
}
.latest-blogs-contents h2 {
	font-size: 48px;

	/* identical to box height, or 58% */

	color: #111111;
}

/* Blogs Sections */

.blog-images-contents {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0px;
}
.blog-section-flex {
	margin: 0 20px;
}
.blog-images-contents .blog-section-flex h3 {
	padding: 15px 0;
	font-size: 30px;
}
.blog-images-contents .blog-section-flex p {
	padding: 15px 0;
	font-size: 18px;
	color: #646464;
}

.blog-section-flex .blog-button {
	display: inline-block;
	background-color: #212121;
	color: white;
	padding: 10px 25px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border-radius: 0px;
	transition: all 0.1s;
}
.blog-section-flex .blog-button:hover {
	background-color: white;
	color: #212121;
}

/* Sign Up  Section Start  */

.sign-up-section {
	padding: 100px;
	text-align: center;
}
.sign-up-section h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 20px;
}
.sign-up-section p {
	font-size: 18px;
	width: 50%;
	font-weight: 500;
	padding-top: 20px;
	margin: 0 auto;
	color: #646464;
}

.sign-up-section .subscribe-button {
	display: inline-block;
	background-color: #212121;
	color: white;
	padding: 10px 45px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border-radius: 0px;
	transition: all 0.1s;
	margin: 40px;
}
.sign-up-section .subscribe-button:hover {
	background-color: white;
	color: #212121;
}

.footer {
	text-align: center;
	color: #646464;
	padding: 20px 0px;
}
