* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Open Sans;
}
.blank-image1 {
	width: 716px;
	height: 626px;
	background-color: #d7d7d7;
}
.blank-image2 {
	width: 625px;
	height: 726px;
	background-color: #d7d7d7;
}
.blank-image3 {
	width: 317px;
	height: 376px;
	background-color: #d7d7d7;
}
.main-container {
	max-width: 1368px;
	margin: 0 auto;
}
.main-button a {
	display: inline-block;
	background-color: #212121;
	color: white;
	padding: 10px 25px;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	border-radius: 0px;
	transition: all 0.1s;
}
.main-button a:hover {
	background-color: white;
	color: #212121;
}

.highlighted-text {
	color: aqua;
}
/* Header Start  */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}
.navbar .main-logo a {
	font-size: 36px;
	color: #212121;
	font-weight: 700;
}

.navbar .menu li {
	display: inline-block;
}
.navbar .menu li a {
	color: #212121;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 15px;
	font-weight: 500;
}

/* Home Section Start */

.home-section .home-main-section .home-contents {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 108px 0;
}

.content-div h5 {
	color: #646464;
	padding-bottom: 19px;
}
.content-div h1 {
	font-size: 70px;
	line-height: 78px;
	color: #212121;
	padding-bottom: 19px;
}
.content-div p {
	font-size: 18px;
	line-height: 30px;
	color: #646464;
	padding-bottom: 50px;
}

/* ABout US */
.home-section .home-main-section .home-contents .content-div h2 {
	font-size: 48px;
	line-height: 57px;
	font-weight: 500;
}
.home-section .home-main-section .home-contents .content-div p {
	padding-bottom: 55px;
	padding-top: 22px;
}

/* Service Section  */

.service-section {
	max-width: 1920px !important;
	background-color: #f8f8f8;
	padding: 90px 0px;
}
.service-content {
	text-align: center;
}
.service-content h2 {
	font-size: 48px;
}
.service-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 40px;
}
.single-services {
	width: 350px;
	height: 200px;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
	padding: 50px 20px;
	box-shadow: 10px 10px 40px gray;
}
.single-services h3 {
	padding-bottom: 10px;
	font-size: 24px;
}

/* Years Success */

.years-success-section {
	padding: 100px 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.years-success-section .success-div-wrapper h2 {
	font-size: 50px;
	line-height: 65px;
}
.years-success-section .success-div-wrapper p {
	margin-right: 100px;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;

	letter-spacing: 0.04em;

	color: #646464;
	margin-bottom: 50px;
}

.years-success-section .success-div-wrapper .image-wrapper-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blank-image3 {
	margin: 30px 15px;
}
